/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  font-family: "Roboto", serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
}

.sidebar {
  background-color: #1992d4;
  color: white;
  grid-row: 1/-1;
  grid-column: 1/2;
}
.sidebar__options {
  list-style-type: none;
  padding: 0;
  margin-top: 35px;
}
.sidebar__options li {
  display: flex;
  font-weight: 500;
  margin-top: 10px;
}
.sidebar__options li img {
  margin-left: 15px;
  margin-right: 15px;
  filter: invert(1);
}

.nav {
  padding: 0.5rem 2.4rem 0.5rem 1rem;
}
.nav__top {
  width: 100%;
  gap: 100px;
  justify-content: space-between;
}
.nav__top__right {
  align-items: center;
  gap: 13px;
}
.nav__top__right img:last-of-type {
  width: 30px;
  height: auto;
}
.nav__top__right h2 {
  font-size: 0.8rem;
}
.nav__search {
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}
.nav__search input {
  font-size: 0.7rem;
  width: 100%;
  height: 1.5rem;
  border-radius: 7px;
  border: none;
  background-color: #e2e8f0;
}
.nav__bottom {
  margin-top: 20px;
  justify-content: space-between;
}
.nav__bottom__left {
  align-items: center;
  gap: 15px;
}
.nav__bottom__left img {
  width: 45px;
  height: auto;
}
.nav__bottom__left p:first-of-type {
  font-size: 0.6rem;
  font-weight: 600;
}
.nav__bottom__left p:last-of-type {
  font-weight: bold;
}
.nav__options ul {
  padding: 0;
  gap: 20px;
  list-style-type: none;
  align-self: center;
}
.nav__options li {
  color: white;
  background-color: #1992d4;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 13px;
  padding: 0.2rem 1.3rem;
}

.content {
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1.2fr 1fr;
  background-color: #e2e8f0;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 22px;
  gap: 20px;
}
.content__titles {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 10px;
}
.content__projects {
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/-1;
}
.content__cards {
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
}
.content__cards__card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #efb327 5px, white 5px);
  border-radius: 6px;
  padding: 1.5rem;
}
.content__cards__card h4 {
  font-size: 0.9rem;
  font-weight: 600;
}
.content__cards__card p {
  flex-grow: 1;
  font-weight: 350;
  color: #333333;
  font-size: 0.8rem;
}
.content__icons {
  justify-content: flex-end;
  gap: 25px;
}
.content__announcements {
  grid-column: 2/3;
  grid-row: 1/2;
}
.content__alerts {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.content__alerts div:first-of-type {
  padding-top: 0;
  border-bottom: #e7e7e7 solid;
}
.content__alerts div:last-of-type {
  padding-bottom: 0;
  border-top: #e7e7e7 solid;
}
.content__alert {
  padding-top: 10px;
  padding-bottom: 10px;
}
.content__alert h5 {
  font-size: 0.8rem;
}
.content__alert p {
  font-size: 0.7rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.svg-logo {
  width: 18px;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
